<head>
    <title>DOREMUS Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="//{{base_url}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//{{base_url}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//{{base_url}}/favicon-16x16.png">
    <link rel="manifest" href="//{{base_url}}/site.webmanifest">
    <link rel="mask-icon" href="//{{base_url}}/safari-pinned-tab.svg" color="#5bb5d5">
    <meta name="msapplication-TileColor" content="#5bb5d5">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/device-mockups.min.css">
    <link rel="stylesheet" href="//{{base_url}}/css/styles.css">
</head>
